* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0% 11%;
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}
code {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}
